body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    color: darkblue;
}

a {
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 8px 15px;
    border-radius: 5px;
}
